
  @font-face {
    font-family: 'GothamPro-Regular';
    src: url('GothamPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family:'GothamPro-Light';
    src: url('GothamPro-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Lato-Medium';
    src:   url('Lato-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  

@font-face {
  font-family: 'Lato-Semibold';
  src:  url('Lato-Semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Bold';
 
 src:   url('Lato-Bold.woff') format('woff');
 font-weight: normal;
  
font-style: normal;
}

