.stage__title--arrow{
  width: 3px;
  height: 27px;
  background-color: #fff;
  // margin-left: 20px;
  &:before{
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 12px;
    background-color: #fff;
  }
  &:after{
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 12px;
    background-color: #fff;
  }
  &:after{
    transform:rotate(135deg);
    margin: -12px -5px;
  }
  &:before{
    transform:rotate(45deg);
   margin: 0px 5px;
   bottom: 0;
  }
}