.pathogenesis__content__piece{
  position: absolute;
  // top: 0;

  &.pathogenesis__content__piece--right{
    right: 0;
    top: 0;
  }
  &.pathogenesis__content__piece--center{
    bottom: 120px;
    left: 100px;
  }
  &.pathogenesis__content__piece--left{
    left: 50px;
    top: 100px;
  }
  &.pathogenesis__content__piece--bottom{
    right: 100px;
    bottom: 50px;
  }
}

@keyframes slideUp{
  0%{
    transform: translateY(-30px);
   }
   100%{
     transform: translateY(0px);
   }

}
@keyframes slideDown{
  0%{
    transform: translateY(0);
   }
   100%{
     transform: translateY(-30px);
   }
}
.pathogenesis__content__piece--animate-up {
  animation-name: slideUp;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  visibility: visible !important;
}

.pathogenesis__content__piece--animate-down {
  animation-name: slideDown;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  visibility: visible !important;
}