.scheme{
  display: flex;
}

.stages__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scheme__side {
  margin-top: 90px;
}

.scheme__block {
  display: flex;
  margin-bottom: 30px;
  justify-content: flex-end;


}
.scheme__block--center {
  justify-content: center;
  flex-direction: column;
  margin: 0px auto;
}

.scheme__block--column {
  flex-direction: column;
}
.scheme__block__text {
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  text-align: right;
  margin-right: 20px;
  position: relative;
  & .stage__number {
    font-size: 42px;
    font-family: 'Lato-Semibold';
}
&--inline {
  display: inline-flex;
  flex-direction: row;
}
&--align {
  text-align: start;
  margin-left: 30px;
}
}
.stage__title {
  font-size: 21px;
  font-family: 'Lato-Medium';
  margin: auto;
  &--wrap {
    white-space: nowrap;
}
}

.scheme__block__text--center-align {
  text-align: left;
}
.scheme__block__img {
  min-width: 90px;
  height: 90px;
  text-align: center;
  position: relative;
  background-color: rgb(63, 66, 127);
  border-radius: 50%;
  & img {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 65px;
    height: 65px;
    margin: auto;
}
&  span {
  color: rgb(255, 255, 255);
  font-size: 58px;
  font-family: 'Lato-Bold';
}
& --center {
  max-width: 80px;
  margin-bottom: 45px;
  margin-left: 20px;
}
&--margin{
  margin: 0 0 45px 45px;
}
}

.scheme__center {
  margin: 0px 26px;
}

.scheme__block__union {
  display: flex;
  position: relative;
  justify-content: center;
}
.scheme__block-union {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}
.scheme__block__main-img {
  position: relative;
  margin-left: -15px;
}

.scheme__block__arrow-union {
  display: flex;
}

.scheme__block__union-right {
  text-align: center;
  position: relative;
  padding: 30px;
  background: linear-gradient(to top, rgb(8, 16, 51) 65%, rgb(44, 49, 113) 100%);
  border-radius: 39px;
}

.scheme__block__wrap {
  display: flex;
}

.scheme__block__title {
  font-size: 20px;
  font-family: 'Lato-Medium';
  color: rgb(255, 255, 255);
}

.scheme__block__text--align {
  text-align: start;
  margin-left: 30px;
}
.scheme__block__title--size {
  font-size: 30px;
  text-align: center;
}



.scheme__block--reverse {
  flex-direction: row-reverse;
  margin-top: 10px;
  margin-bottom: -5px;
  &:first-child {
    margin-top: 0px;
  }
}
