.stages-of-pathogenesis{
  background:linear-gradient(to top, #081033 37%, #13185e 78%, #222394 99%);
  position: relative;
}

.page-title__stages {
  font-size: 32px;
  color: rgb(255, 255, 255);
  font-family: 'GothamPro-Regular';
  margin-bottom: 30px;
}